for profile in $NIX_PROFILES; do
    if [ -d "$profile/bin" ]; then
        PATH_add "$profile/bin"
    fi
done

if ! has devenv; then
    echo "Devenv not found in PATH. Checking/Installing via Nix profile..."
    
    if [ ! -e "$HOME/.nix-profile/bin/devenv" ]; then
        echo "Installing devenv..."
        nix profile add github:cachix/devenv/55d2bb4a3cc710ba82cc8644f4419db3a802e1a4#devenv
    else
        echo "Devenv found in .nix-profile but was not in PATH. (Path added above)"
    fi
fi

{ # PRJ Base Directory Specification: https://github.com/numtide/prj-spec
        # shellcheck source=/dev/null
        source "$(
                fetchurl \
                        "https://raw.githubusercontent.com/numtide/prj-spec/9b0ffcd0fddcb261bcd73ad9dad18a096760b4a0/contrib/direnv" \
                        "sha256-54YaaGly6Q0E8GhFT9fB/h9tN1PDERo2/4R4X0Pdi/c="
        )"
}


source_url "https://raw.githubusercontent.com/cachix/devenv/55d2bb4a3cc710ba82cc8644f4419db3a802e1a4/devenv/direnvrc" "sha256-SedUl6058dnxQASrSeERFCrNESprWThYgZhQ2j4mWss="

use devenv

