[submodule "examples"]
	path = examples
	url = https://github.com/GTrunSec/omnibus-examples.git
[submodule "units/nickel"]
	path = units/nickel
	url = https://github.com/hardenedlinux/omnibus-ncl.git
